services:
  db:
    image: postgres:15-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: captcha
    healthcheck:
      test: "pg_isready"
      interval: 30s
      timeout: 20s
      retries: 5
    logging:
      driver: local
      options:
        max-size: 10M
  cache:
    image: redis:6-alpine
    ports:
      - 6379:6379
    healthcheck:
      test: "redis-cli ping | grep PONG"
      interval: 15s
      timeout: 10s
      retries: 5
    logging:
      driver: local
      options:
        max-size: 10M
  mongo:
    image: mongo:6-focal
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: captcha
    healthcheck:
      test: "echo 'db.runCommand({serverStatus:1}).ok' | mongo admin -u root -p password --quiet"
      interval: 30s
      timeout: 20s
      retries: 5
    logging:
      driver: local
      options:
        max-size: 10M
