name: Check

on:
  pull_request:
    branches:
      - "*"

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container: golang:1
    services:
      db:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: postgres
          POSTGRES_DB: captcha
        options: >-
          --health-cmd pg_isready
          --health-interval 30s
          --health-timeout 20s
          --health-retries 5
      cache:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 30s
          --health-timeout 20s
          --health-retries 5
      mongo:
        image: mongo:6
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: password
          MONGO_INITDB_DATABASE: captcha
        options: >-
          --health-cmd "echo 'db.runCommand({serverStatus:1}).ok' | mongosh --nodb mongodb://root@password:mongo:27017/test --quiet"
          --health-interval 30s
          --health-timeout 20s
          --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug --only-verified

      - name: Build
        run: go build -buildvcs=false .

      - name: Run test & coverage
        run: go test -v -coverprofile=coverage.out -covermode=atomic ./...
        env:
          ENVIRONMENT: development
          DATABASE_URL: postgres://postgres:password@db:5432/captcha?sslmode=disable
          REDIS_URL: redis://@cache:6379/
          MONGO_URL: mongodb://root:password@mongo:27017/captcha?useNewUrlParser=true&useUnifiedTopology=true&authSource=admin
          MONGO_DBNAME: captcha
          TZ: UTC

      - uses: codecov/codecov-action@v3
